<% provide :title, "Tạo chuyên mục"%>
<div class="col-md-4 col-xs-12">
  <%= render "admins/categories/categories_list", categories: @categories %>
</div>

<div class="col-md-8 col-xs-12">
  <%= render "admins/categories/category_form", category: @category, disable: false %>
</div>
