<button type="button" class="embed-btn btn btn-info btn-lg hidden" data-toggle="modal" data-target="#images-modal"></button>

<div class="modal fade" id="images-modal" role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Thêm Embed link</h4>
      </div>
      <div class="modal-body">
        
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary images-modal-submit">Thêm</button>
      </div>
    </div>
  </div>
</div>
