<li class="dropdown notification-box">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    <i class="fa fa-globe"></i>
    <span class="notification-counter"></span>
  </a>
  <ul class="dropdown-menu">
    <li><a href="#" class="noti-option">Đánh dấu đã đọc tất cả</a></li>
    <% if @notifications.present? %>
      <% @notifications.includes(:user, :post).each do |notification| %>
        <%= render "notifications/notification", notification: notification %>
      <% end %>
    <% end %>
  </ul>
</li>
